.mainOfquestion {
  width: 100%;
  min-height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.one_question {
  width: 25%;
}

.one_question > .side-menu {
  width: 80%;
  min-height: 40vh;
  background-color: rgb(231, 231, 231);
  margin-top: 20%;
}

.one_question > .side-menu > h3 {
  width: 100%;
  background-color: rgb(207, 101, 2);
  padding: 10px;
  text-align: center;
  font-family: "Jameel Noori Nastaleeq";
}

.one_question > .side-menu > p {
  padding: 10px;
  font-size: 19px;
  text-align: center;
  font-family: "Jameel Noori Nastaleeq";
}

.one_question > .side-menu > .btn_for_sawal {
  padding: 10px;
  background-color: rgb(207, 101, 2);
  font-family: "Jameel Noori Nastaleeq";
  text-decoration: none;
  color: white;
  text-align: center;
  margin: auto;
}

.two_question {
  width: 70%;
}

.sawalat {
  background-color: rgb(247, 247, 247);
  margin-top: 15px;
  width: 100%;
}

.sawalat > ul > li {
  padding: 7px 0px;
  list-style-type: none;
  border-bottom: 0.2px solid black;
  text-align: right;
  padding: 10px 20px;
  font-family: "Jameel Noori Nastaleeq";
  font-size: 20px;
  cursor: pointer;
}

.svg {
  width: 20px;
  height: 20px;
  padding-left: 4px;
}

.sawalat > h4 {
  font-family: "Jameel Noori Nastaleeq";
  font-size: 34px;
  text-align: center;
}

@media (max-width: 500px) {
  .mainOfquestion {
    width: 100%;
    min-height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }

  .one_question {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .one_question > .side-menu {
    width: 90%;
    min-height: 30vh;
    background-color: rgb(231, 231, 231);
    margin-top: 10%;
  }

  .one_question > .side-menu > h3 {
    width: 100%;
    background-color: rgb(207, 101, 2);
    padding: 10px;
    text-align: center;
    font-family: "Jameel Noori Nastaleeq";
  }

  .one_question > .side-menu > p {
    padding: 10px;
    font-size: 19px;
    text-align: center;
    font-family: "Jameel Noori Nastaleeq";
  }

  .one_question > .side-menu > .btn_for_sawal {
    padding: 10px;
    background-color: rgb(207, 101, 2);
    font-family: "Jameel Noori Nastaleeq";
    text-decoration: none;
    color: white;
    text-align: center;
    margin: auto;
  }

  .two_question {
    width: 100%;
  }

  .sawalat {
    background-color: rgb(247, 247, 247);
    margin-top: 15px;
    width: 100%;
  }

  .sawalat > ul > li {
    padding: 7px 0px;
    list-style-type: none;
    border-bottom: 0.2px solid black;
    text-align: right;
    padding: 10px 20px;
    font-family: "Jameel Noori Nastaleeq";
    font-size: 20px;
    cursor: pointer;
  }

  .svg {
    width: 20px;
    height: 20px;
    padding-left: 4px;
  }

  .sawalat > h4 {
    font-family: "Jameel Noori Nastaleeq";
    font-size: 34px;
    text-align: center;
  }
}
