@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

* {
  margin: 0%;
  padding: 0%;
  list-style: none;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(145, 145, 145);
  background-repeat: repeat;
  position: relative;
  /* font-family: "Segoe UI Light", "wf_segoe-ui_light", Arial, "Helvetica Neue", Verdana, Helvetica, Sans-Serif; */
}

#icon {
  font-size: 30px;
  color: whitesmoke;
}